# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/dist-electron
/native/window-snap/build/
/native/audio-host/obj/
/native/audio-host/x64/
/native/audio-host/third_party/
/native/audio-host/lutsra-a.*/
/.codex-staging/
/release
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
*.spec.ts
*.test.ts
!/tests/audio-engine.spec.ts
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
